.input {
  background: white;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  color: black;
  font-family: monospace;
  font-size: 1.3rem;
  outline: 0;
  padding: 7px 0;
  transition: border-color 0.2s;
  width: 100%;
}

.label {
  color: #9b9b9b;
  display: block;
  font-size: 1rem;
  top: 0;
  transition: 0.2s;
}

.input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
