.card-container {
  align-items: center;
  background: #fafafafa;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  height: 549px;
  left: 874px;
  top: 283px;
  width: 368px;
}

p {
  margin: 5px;
}

.description {
  font-family: monospace , sans-serif;
  font-size: 8px;
}
