.card-container {
  background: #023031;
  height: 1056px;
  width: 763px;
}

.pre-view {
  color: white;
  height: 36px;
  left: 776px;
  position: absolute;
  top: 122px;
  width: 355px;
}

.card {
  align-items: center;
  /* box-shadow: inset 0px 0px 0px 10px white, inset 0px 0px 0px 20px #036B52; */
  background: #fafafafa;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  height: 549px;
  width: 368px;
  top: 283px;
  left: 874px;
  position: absolute;
}

p {
  /* display: flex; */
  /* flex-direction: column; */
  /* font-size: 15px; */
  margin: 5px;
}

.card-name {
  /* color: white; */
  font-size: 28px;
  height: 36px;
  left: 169px;
  /* position: absolute; */
  top: 36px;
  width: 176px;
}

.card-image {
  /* position: absolute; */
  width: 317px;
  height: 278px;
  left: 26px;
  top: 29px;
}

.description {
  font-size: 8px;
  font-family: monospace, sans-serif;
  height: 147px;
  width: 317px;
}
