.form-container {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  height: 1056px;
  width: 690px;
}

.form-container > h1 {
  left: 131px;
  position: absolute;
  top: 122px;
}

form {
  left: 133px;
  top: 233px;
  position: absolute;
}

button {
  user-select: none;
}

textarea {
  border: 0;
  border-bottom: 2px solid green;
  height: 80px;
  outline: 0;
  resize: none;
  width: 355px;
}

label {
  display: flex;
  flex-direction: column;
  user-select: none;
}

input {
  border: 0;
  border-bottom: 2px solid green;
  outline: 0;
}
