body {
  background: #fafafafa;
  height: 1056px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

h1 {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: 36px;
  left: 131px;
  line-height: 29px;
  top: 122px;
  width: 355px;
}

.super-trunfo-container {
  display: flex;
  height: 1056px;
  width: 1440px;
}
