body {
  background: #fafafafa;
  height: 1056px;
  width: 1440px;
}

h1 {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.super-trunfo-container {
  display: flex;
  flex-direction: column;
}

.form-preview-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
